/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 oct. 2018, 20:44:47
    Author     : gaetchen
*/

*{
    margin:0;
    padding:0;
}
body{
-webkit-background-size: cover;
background-size: cover;
background-size: cover;
background-position: center center;
height: 100vh;

}


.menu-area ul{
    list-style: none;
}
.menu-area ul li{
    display: inline-block;
}
.menu-area ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    display: inline-block;
    padding: 15px 20px;
}
.menu-area ul li a:hover{
    text-decoration: none;
    background: #333;
}
.menu-area ul li a:focus{
    text-decoration: none;
}
.menu-area{
    background: #e42652;
}
.toggle-menu{
    display: none;
    cursor: pointer;
    padding: 20px;
    text-align: right;
    font-size:25px;
    color: #fff;    
}
@media screen and(max-width:60px){
    .menu-area ul li{
     display: block;   
    }  
    .menu-area ul li a{
        display: block
    }
    .menu-area ul{
        display: none;
    }
    .toggle-menu{
        display: block;
    }
}


body, html{
    height: 100%;
    margin:0; 
    font-size: 16px;
    fonnt-family:"lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}
.pimg1,.pimg2,.pimg3 {
    position: relative;
    opacity: 0,70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
.pimg1{
background-image:url("imagen/vida.jpg")   ; 
min-height: 400px;
    
}
.pimg2{
background-image:url("imagen/30688274_1733539796713994_2248931035666526404_n.jpg"); 
min-height: 400px;
    
}
.pimg3{
background-image:url("imagen/O-Que-e-a-Felicidade-18.jpg"); 
min-height: 400px
    
}
.section{
 text-align: center;
 padding:50px 80px;
}
.section-light{
background-color:#f4f4f4;
color:#666; 
}
.section-dark{
background-color:#282e34;
color:#ddd;
}
.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext,border{
background-color: #111;
color: #fff;
padding: 20px;
    
}
.ptext .border.trans{
 background-color: transparent;
 
}
@media(max-width:568px){
    .pimg1,.pimg2,.pimg3{
        background-attachment:scroll;  
 } 
}